<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ bootcamp.appname }}</a>
        </div>
    </div>
</nav>

<div id="main">

    <div class="header">
        {% block header %}
            <h1>Le title</h1>
            <h2>A subtitle for your page goes here</h2>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        <p>Le content</p>
        {% endblock content %}
    </div>
</div>