{% extends 'NetgustoBootCampBundle:Initialization:base.html.twig' %}

{% block body %}
{% embed 'NetgustoBootCampBundle:Initialization:embeddable/layout.header+content.html.twig' %}

    {% block header %}
        <h1>{{ bootcamp.appname }}: Initialization</h1>
    {% endblock header %}

    {% block content %}

        <h1 class="content-subhead">{{ bootcamp.appname }} is initialized</h1>

        <p>In order to unlock the application and remove this message, you have to set the <em>INITIALIZATION_MODE</em> environment variable to <strong>FALSE</strong>.</p>
       
    {% endblock content %}

{% endembed %}
{% endblock %}