{% extends 'NetgustoBootCampBundle:Initialization:base.html.twig' %}

{% block body %}
{% embed 'NetgustoBootCampBundle:Initialization:embeddable/layout.header+content.html.twig' %}

    {% block header %}
        <h1>Welcome to {{ bootcamp.appname }}</h1>
    {% endblock header %}

    {% block content %}
        {{ bootcamp.welcome.intro|raw }}

        <p class="text-center"><a href="{{ path(nextroute) }}" class="btn btn-primary btn-large">OK, let's go <i class="fa fa-arrow-circle-right"></i> </a></p>
    {% endblock content %}

{% endembed %}
{% endblock %}